<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cobot">

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="controller_config" default=""/>

  <xacro:include filename="$(find arm_description)/urdf/arm_macro.xacro"/>
  <xacro:include filename="$(find arm_description)/urdf/arm_gazebo.xacro"/>
  <xacro:include filename="$(find arm_description)/urdf/camera.xacro"/>
  <xacro:include filename="$(find arm_description)/urdf/gripper.xacro"/>

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child  link="$(arg prefix)base_link"/>
  </joint>

  <xacro:arm prefix="$(arg prefix)"/>
  <xacro:arm_gazebo prefix="$(arg prefix)"
                    controller_config="$(arg controller_config)"/>
  <xacro:wrist_camera prefix="$(arg prefix)" parent="$(arg prefix)tool0" rpy="0 -1.570796 0"/>
  <xacro:parallel_gripper prefix="$(arg prefix)" parent="$(arg prefix)tool0"/>

</robot>
